*,
:after,
:before {
  border: 0 solid #e5e5e5;
  box-sizing: border-box;
}
body,
blockquote,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
footer .icon-wrapper {
  position: fixed;
  bottom: 2rem;
  color: #737373;
  box-sizing: border-box;
}
footer .icon-wrapper.in-left {
  left: 2rem;
}
footer .icon-wrapper.in-right {
  right: 2rem;
}
footer .icon-button {
  color: #737373;
  background-color: #ffffff;
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  border: 1px solid #d4d4d4;
  font-size: 15px;
  letter-spacing: 0.05em;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition-duration: 50ms;
  transition-property: transform;
  transition-timing-function: linear;
  box-sizing: border-box;
  position: relative;
  padding: 9px;
}
footer .icon-button:undefined {
  appearance: button;
  background-color: transparent;
}
footer .icon-button:hover {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
footer .icon-button:focus {
  outline: transparent solid 2px;
  outline-offset: 2px;
}
footer .icon-button .icon {
  width: 21px;
  height: 21px;
}
footer .copyright-text {
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #737373;
}
header {
  grid-template-columns: repeat(8, minmax(0px, 1fr));
}
header .header-left {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: flex-start;
}
header .header-center {
  grid-column-start: 3;
  grid-column-end: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-right {
  grid-column-start: 7;
  grid-column-end: 9;
  display: flex;
  justify-content: flex-end;
}
header .header-logo {
  display: flex;
  color: #737373;
  align-items: center;
  justify-content: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
header .header-logo__title {
  cursor: pointer;
  color: #404040;
  letter-spacing: 0.025em;
  font-size: 15px;
  margin-left: 9px;
}
header .search-bar {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  display: none;
  position: relative;
  transition-duration: 50ms;
  transition-property: transform;
  transition-timing-function: linear;
}
@media (min-width: 1024px) {
  header .search-bar {
    display: flex;
    width: 65%;
  }
}
@media (min-width: 1280px) {
  header .search-bar {
    width: 620px;
  }
}
header .search-bar:active {
  transform: matrix(0.985, 0, 0, 0.985, 0, 0.5);
}
header .search-bar__input {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 6px 9px 6px 54px;
  border-radius: 0.375rem;
  border-width: 1px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #737373;
  outline: transparent solid 2px;
  outline-offset: 2px;
  transition-duration: 0.15s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
header .search-bar__input:hover {
  background-color: #fafafa;
}
header .search-bar__prefix {
  background-color: #fafafa;
  position: absolute;
  left: 9px;
  top: 6px;
  z-index: 10;
  cursor: not-allowed;
  border-radius: 0.375rem;
  padding: 0.125rem 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #a3a3a3;
}
header .nav-list {
  display: flex;
  column-gap: 6px;
}
header .nav-list__item {
  cursor: pointer;
  z-index: 10;
  display: none;
  white-space: nowrap;
  border-radius: 0.375rem;
  color: #737373;
}
@media (min-width: 1024px) {
  header .nav-list__item {
    display: block;
  }
}
header .nav-list__item a {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
header .nav-list__item a button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-size: 15px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  letter-spacing: 0.05em;
}
header .nav-list__item a button:undefined {
  appearance: button;
  background-color: transparent;
}
header .nav-list__item a button:focus {
  outline: transparent solid 2px;
  outline-offset: 2px;
}
article {
  background-color: #ffffff;
  padding: 6rem 1.25rem 1.25rem;
  border: 0px solid #e5e5e5;
}
@media (min-width: 1024px) {
  article {
    border-radius: 0.75rem;
    padding: 60px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
}
@media (min-width: 1024px) {
  article {
    border-radius: 0.75rem;
    padding: 60px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
}
#hexo-container {
  color: #ffffff;
  background-color: #f6f7f8;
  box-sizing: border-box;
  position: relative;
  tab-size: 4;
  line-height: inherit;
  pointer-events: auto;
  border: 0 solid #e5e5e5;
  min-height: 100vh;
}
:root {
  --border-opacity: 1;
  --bg-opacity: 1;
  --text-opacity: 1;
}
