div(class="icon-wrapper in-left")
  button(aria-label="change theme").icon-button
    span.icon
      svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" height="100%" width="100%")
        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z")
div(class="icon-wrapper in-right")
  button(aria-label="change theme").icon-button
    span.icon
      svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" height="100%" width="100%")
        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7")
p.copyright-text
  a(href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noreferrer") CC BY-NC-SA 4.0
  span ·
  a(href="https://github.com/ttttonyhe/ouorz-mono" target="_blank" rel="noreferrer") Open Source Software (OSS)
