//- 引入 mixin 文件
include ../mixins/post-card.pug


if page.posts.length > 0
  #recent-posts
    each post in page.posts.sort('date', -1).limit(10).toArray()
      //- .recent-post-item
      //-   a(href=url_for(post.path))= post.title
      //-   if post.date
      //-     time(datetime=post.date.toJSON())= date(post.date, date_format)
      +BlogCard(post)

