*,
:after,
:before {
  border: 0 solid #e5e5e5;
  box-sizing: border-box;
}
body,
blockquote,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}
